[submodule "engine/Jay_Core"]
	path = engine/Jay_Core
	url = git@github.com:BlueJayEngine/Jay_Core.git
[submodule "engine/Jay_ECS"]
	path = engine/Jay_ECS
	url = git@github.com:BlueJayEngine/Jay_ECS.git
[submodule "engine/Jay_Math"]
	path = engine/Jay_Math
	url = git@github.com:BlueJayEngine/Jay_Math.git
[submodule "engine/Jay_Logger"]
	path = engine/Jay_Logger
	url = git@github.com:BlueJayEngine/Jay_Logger.git
[submodule "engine/Slang"]
	path = engine/Slang
	url = git@github.com:rytc/slang-jai.git
[submodule "engine/jai-vma"]
	path = engine/jai-vma
	url = https://gitlab.com/Stowy/jai-vma.git
[submodule "engine/vulkan-jai-bingins"]
	path = engine/vulkan-jai-bingins
	url = https://github.com/drshapeless/vulkan-jai-binding.git
[submodule "engine/Jay_Render"]
	path = engine/Jay_Render
	url = https://github.com/BlueJayEngine/Jay_Render.git
[submodule "engine/vulkan-jai-bindings"]
	path = engine/vulkan-jai-bindings
	url = https://github.com/vkaronen/vulkan-jai-bindings
